SERVICE_STAGE=beta
LEGAL_REVIEW_APPROVED=false
TERMS_URL=
PRIVACY_URL=
SUPPORT_EMAIL=

LINE_CHANNEL_ACCESS_TOKEN=
LINE_DELIVERY_MODE=broadcast

X_API_KEY=
X_API_SECRET=
X_ACCESS_TOKEN=

STRIPE_SECRET_KEY=
STRIPE_PRICE_ID=
STRIPE_WEBHOOK_SECRET=
